@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.header ul, .footer ul {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #eee;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buttons {
  gap: 8px;
}