/* Add CSS Styling */
.odd {
    font-family: "Verdana", "DejaVu Sans", sans-serif;
    background-color: #FA2A55;
}

#tutturu {
    color: rgb(0,0,255);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#parampampam {
    color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}