* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 25px;
    text-align: center; 
    background-color: rgb(191,223,191);
    padding: 16px;
    border-radius: 16px;
}

h2 {
    margin: 16px;
}

h3, p{
    margin: 9px;
    text-align: center;
}

.main-container {
    display: flex;
    background-color: rgb(239, 239, 239);
    width: 100%;
    height: 23000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    display: flex;
    margin: 25px;
    border-radius: 25px;
    border: 4px solid rgb(223, 223, 247);
    background-color: rgb(251, 251, 251);
}

.item {
    margin: 16px;
    width: 192px;
    height: 192px;
    /* background-color: rgb(223, 247, 247); */
    background-color: rgb(191,191,239);
    border-radius: 25px;
}

.justify-evenly-align-items {
    justify-content: space-evenly;
    align-items: center;
}

.both-axes-content-center {
    justify-content: center;
    align-content: center;
}

.width-three-fourth {
    width: 75%;
}

.width-seven-eighths {
    width: 87.5%;
}

.width-five-eighths {
    width: 62.5%;
}

.width-one-half {
    width: 50%;
}

.w250 {
    width: 250px;
}

.w500 {
    width: 500px;
}

.w750 {
    width: 750px;
}

.w1k {
    width: 1000px;
}

.w1250 {
    width: 1250px;;
}

.h250 {
    height: 250px;
}

.h500 {
    height: 500px;
}

.h750 {
    height: 750px;
}

.h1k {
    height: 1000px;
}

.wrap {
    flex-wrap: wrap; /* by default -> nowrap*/
}

.gap {
    gap: 16px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-3 {
    flex-shrink: 3;
}

.flex-basis-500px {
    flex-basis: 500px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.font-size32 {
    font-size: 32px;
}

/* .align-items-stretch {
    align-items: stretch;
} */

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-self-center {
    align-self: center;
}

.order--1 {
    order: -1;
}

.column {
    flex-direction: column;
}

.light-yellow {
    background-color: rgb(239,239,127); 
    padding: 4px;
    border-radius: 8px;
}

.pink-purple {
    background-color: rgb(223,191,223); 
    padding: 4px;
    border-radius: 8px;
}

.no-margin {
    margin: 0px;
}