* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 25px;
}

h2, h3, p{
    margin: 16px;
}

div.justify-content-center {
    justify-content: center;
    align-items: center;
}


div.main-container {
    display: flex;
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 5000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.big-green-container {
    background-color: rgb(63, 255, 63);
    display: flex;
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    flex-wrap: wrap;
}

div.green-element {
    border-radius: 25px;
    background-color: white;
    width: 250px;
    height: 250px;
    margin: 0px 25px;
}

.big-red-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;
    background-color: rgb(255,63,63);
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 50px;
}

.red-element {
    width: 250px;
    height: 250px;
    margin: 25px;
    border-radius: 25px;
    background-color: white;
}