* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 25px;
}

h2 {
    margin: 16px;
}

h3, p{
    margin: 9px;
    text-align: center;
}

.main-container {
    display: flex;
    background-color: rgb(239, 239, 239);
    width: 100%;
    height: 5000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pink-purple {
    background-color: rgb(223,191,223); 
    padding: 4px;
    border-radius: 8px;
}

.outer-container {
    display: flex;
    margin: 25px;
    border-radius: 25px;
    border: 4px solid rgb(223, 223, 247);
    background-color: rgb(255, 255, 255);
}

.one-forth {
    width: 90%;
    height: 250px;
}

.one-to-one {
    width: 90%;
    height: 1000px;
}

.justify-evenly-align-center {
    justify-content: space-evenly;
    align-items: center;
}

.outer-container-item-4 {
    width: 21%;
    height: 80%;
    border-radius: 20px;
    background-color: aquamarine;
}

.outer-container-item-1 {
    width: 50%;
    height: 50%;
    border-radius: 25px;
    background-color: aquamarine;
}

.one-element-both-axes-center {
    justify-content: center;
    align-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.item {
    margin: 16px;
    width: 200px;
    height: 200px;
    background-color: rgb(223, 247, 247);
    border-radius: 25px;
}