body {
    font-family: sans-serif;
}
p,
ul {
    border: 2px solid rebeccapurple;
    padding: 0.25em;
}
  
.block,
li {
    border: 2px solid blue;
    padding: 0.25em;
}

ul {
    display: flex;
    list-style: none;
}
  
.block {
    display: block;
  }
