.flex-container {
    display: flex;
    border: 4px solid rgb(0,0,255);
    background-color: rgb(63,127,255);
    padding: 16px;
}

.flex-container div {
    background: rgb(63, 255, 63);
    border: 4px solid rgb(0, 191, 0);
    padding: 8px;
}

.two {
    display: flex;
}

.two div {
    background-color: cyan;
    border: 4px solid darkcyan;
}