* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0px;

    display: flex;
    justify-content: center;
}

.menu {
    border:1px solid #fff ;
    width: 450px;

    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    border: 1px solid white;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    width: 900px;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}